{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>User Data</title>
<style>
  table {
    border-collapse: collapse;
    width: 95%;
  }
  
  th{
    background-color: black;
    color:white;
    text-align: center;
    padding: 8px;
  }
   td {
    text-align: center;
    padding: 8px;
  }
  td:nth-child(even) {
            background-color: #D6EEEE;
          }
h1{
  text-align:center;
  font-size:20px;
}
</style>

</head>
<body>
  <h1> User Data </h1>
<table border="hidden" cellpadding="1" cellspacing="3">


  <tr>
    <th>id</th>
    <th>Profile</th>
    <th>Username</th>                  
    <th colspan="2" >E-mail</th>
    <th>Job</th>
    <th>Skill</th>
    <th>Phone</th>
    <th>Gender</th>
    <th scope="col">Address</th>
  </tr>  

                {% for user in users %}  
                <tr>
                  <td>{{user.id}}</td>
                  <td scope="row">
                  <div class="image-box">
                      {% if user.image %}
                     
                        <img src="{{ user.image }}"  alt="" class="prod-size" height="50px" width="60px">
                     
                      {% else %} 
                   
                        <img src="{% static 'images/noimage.png' %}"  alt="" class="prod-size">
                     
                      {% endif %} </td>

              <td>{{user.username}}</td>
              <td colspan="2">{{user.email}}</td>
              <td>{{user.skill}}</td>
              <td>{{user.hobbies}}</td>
              <td>{{user.phone}}</td>
              <td>{{user.gender}}</td>
              <td>{{user.address}}</td>
             </tr>
          {% endfor %}
        </tbody>
    </div>
    </table> 

  </body>
  </html>
