{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/apply.css' %}" rel="stylesheet" media="all">

    <title>Document</title>
</head>
<body>
        <hgroup>
            <h1>Apply Job</h1>
        </hgroup>
        <form action="jobapply" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="job_ids" value="{{ j.job_id}}">
            
            <div class="group"> 
            <label>Upload CV</label>
            </div>
            <div class="group">
            <input type="File" name="resume"><span class="highlight"></span><span class="bar"></span>
            </div>    
            <div class="group">
            <input type="text" name="name" required><span class="highlight"></span><span class="bar"></span>
            <label>Name</label>
            </div>
            <div class="group">
            <input type="email" name="email" required><span class="highlight"></span><span class="bar"></span>
            <label>Email</label>
            </div>
            <div class="group">
            <input type="number" name="phone"><span class="highlight"></span><span class="bar"></span>
            <label>Phone</label>
            </div>
           
            <button type="submit" class="button buttonBlue">Apply job
            <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
        </form>
       
        </script>
</body>
</html>