{% load static %}
<html>
<head>
    <title> Company Home Page </title>
    <link rel="stylesheet" href="static/css/index.css"/>
</head>
<body>
        <nav class="navbar">
            <div class="logo"></div>
            <ul class="nav-list-container">
                <li class="list"><a href="{% url 'companyhomepage' %}" class="link">Home</a></li>
                <li class="list"><a href="#about-us" class="link">About</a></li>
                <li class="list"><a href="#contact" class="link">Contact</a></li>
                <li class="list"><a href="{% url 'job_post' %}" class="link">Job Post</a></li>
                <li class="list"><a href="{% url 'joblist' %}" class="link">Job list</a></li>
                <li class="list"><a href="{% url 'showbloger_company'%}" class="link">Blog</a></li>               
                <li class="list"><a href="{% url 'showcompanyprofile' %}" class="link">Profile</a></li>
                <li class="list"><a href="logout" class="link">logout</a></li>
            </ul>
        </nav>
    </nav>
    <!-- This section is start in  home iteam -->
    <section class="home" id="home">
       

            <video autoplay muted loop id="bg-video">
                <source src="static/images/video.mp4" type="video/mp4" />
            </video>
            <div class="overlay">
                <h2>Welcome to {{request.session.username }} </br>
                        Our JobMapper Site
            
            </div> 

    </section>

    <!-- Home page section End -->
    
    

    <!-- About Page section start -->
    <section class="about-us" id="about-us"> 
        <div class="imgBox">
            <img src="static/images/about-image-1-940x460.jpg" alt="about-us-image" />
        </div>
        <div class="contentBox">
            <header class="header">
                <h1>About Us</h1>
            </header>
            <div class="content">
                <p>Our company was founded with the vision of revolutionizing the traditional recruitment process. We understand the challenges that both job seekers and employers face in the job market, and we strive to provide a solution that simplifies the process and saves time for both parties.</p></br>

                   <p> At our job portal, we take pride in our commitment to excellence. We are constantly innovating and improving our platform to ensure that it meets the evolving needs of our users. Our team is made up of experienced professionals who are experts in their respective fields, including recruitment, technology, and user experience.</p></br>
                    
                   <p>We believe that a diverse and inclusive workplace is essential to the success of any company. That's why we prioritize diversity and inclusion in our own hiring practices and in the jobs we promote on our platform. We believe that everyone should have access to opportunities and that talent knows no boundaries.</p></br>
        
                   <p>We are a team of passionate professionals who are dedicated to connecting employers and job seekers in a streamlined and efficient manner. Our mission is to create a user-friendly platform that empowers job seekers to find their dream jobs and enables employers to recruit top talent quickly and effectively.</p></br>
        
            </div>
        </div>
    </section>
    <!-- End About-us page section -->


    <!-- contact section Start -->

    <form action="companyfeedback" method="POST">
        {% csrf_token %}
    <div class="contact" id="contact">
        <div class="contact-box">
            <div class="contact-box-img">
                <img src="static/images/contact-1-720x480.jpg" alt="Contact-us-image" />
            </div>
            
            <div class="contact-form" id="contactform">
                <h1 class="title-contact-form">Contact us</h1>
                <div class="inputBox">
                    <div class="col-2">
                        <label for="fullname">fullname:</label>
                        <input type="text" id="fullname" name="name" placeholder="your name..." class="name">
                    </div>
                    <div class="col-2">
                        <label for="e-mail">email:</label>
                        <input type="e-mail" id="e-mail" name="email" placeholder="your email..."/>
                    </div>
                    <div class="col-2">
                        <label for="textarea">message:</label>
                        <textarea placeholder="write your message here..." id="textarea" name="message" rows="10"></textarea>
                    </div>

                    <div class="col-2">
                        <label></label>
                        <button class="submit">Send message</button>
                    </div>
                </div>
            </div>



        </div>
    </div>
</form>

</body>
</html>
