{% load static %}
<html>
<head>
    <title> JobMapper </title>
    <link rel="stylesheet" href="static/css/index.css"/>
<style>
select{
    background-color: transparent;
    outline: none;
    font-size: 16px;
    color: white;
    {% comment %} border :none; {% endcomment %}
    
}    
option{
    background-color: black;
    color: white;
}     

</style>    
</head>

<body>
    <nav class="navbar">
        <div class="logo">LOGO</div>
        <ul class="nav-list-container">
            <li class="list"><a href="{% url 'home_page'%}" class="link">Home</a></li>
            <li class="list"><a href="#about-us" class="link">About</a></li>
            <li class="list"><a href="#contact" class="link">Contact</a></li>
            <li class="list"><a href="{% url 'showjob1' %}" class="link">job</a></li>  
            <li class="list"><a href="{% url 'showbloger_home' %}" class="link">Blog</a></li>
            <li class="list"><a href="" class="link">Recruiter login</a></li>   
            <li class="list"><select name="forma" onchange="location = this.value;">
                <option value="{% url 'sign_up' %}">Login</option>
                <option value="{% url 'companylogin' %}">Company</option>
                <option value="{% url 'adminlogin' %}">Admin</option>
               </select></li>
            <li class="list"><a href="" class="link">Login</a></li>
        </ul>
    </nav>
    <!-- This section is start in  home iteam -->
    <section class="home" id="home">
       
        
            <video autoplay muted loop id="bg-video">
                
                <source src="static/images/video.mp4" type="video/mp4" />
                      
            </video>
            
            <div class="overlay">
                <h2>Unlocking Opportunities and</br>
                     Charting Career Paths</h2>
            </div> 
    </section>
  
   
    <!-- Home page section End -->
    
    

    <!-- About Page section start -->
    <section class="about-us" id="about-us"> 
        <div class="imgBox">
            <img src="static/images/about-image-1-940x460.jpg" alt="about-us-image" />
        </div>
        <div class="contentBox">
            <header class="header">
                <h1>About Us</h1>
            </header>
            <div class="content">
                <p>Welcome to our JobMapper! We are dedicated to connecting job seekers with employers across a wide range of industries and skill sets. Our mission is to make the job search process as efficient and effective as possible for both job seekers and employers.</br></p>
            </br>
            <p>Our team is made up of experienced professionals who are passionate about helping people find meaningful employment opportunities. We understand that searching for a job can be a stressful and overwhelming process, and we are committed to providing the tools and resources needed to make the process easier.</p>
            </br>  
            <p> Our job JobMapper is designed to be user-friendly and intuitive, with advanced search capabilities that allow job seekers to easily find relevant job listings based on their skills, experience, and location. Employers can also benefit from our platform by easily posting job listings and reaching a large pool of qualified candidates.</p>
            </br>    
              
            <p> Thank you for choosing our JobMapper as your go-to resource for finding your next job or for finding the perfect candidate to fill your open position. We are excited to help you achieve your career goals!</p>
            </div>
        </div>
    </section>
    <!-- End About-us page section -->


    <!-- contact section Start -->

    <form action="cont" method="POST">
        {% csrf_token %}
    <div class="contact" id="contact">
        <div class="contact-box">
            <div class="contact-box-img">
                <img src="static/images/contact-1-720x480.jpg" alt="Contact-us-image" />
            </div>
            
            <div class="contact-form" id="contactform">
                <h1 class="title-contact-form">Contact us</h1>
                <div class="inputBox">
                    <div class="col-2">
                        <label for="fullname">fullname:</label>
                        <input type="text" id="fullname" name="name" placeholder="your name..." class="name">
                    </div>
                    <div class="col-2">
                        <label for="e-mail">email:</label>
                        <input type="e-mail" id="e-mail" name="email" placeholder="your email..."/>
                    </div>
                    <div class="col-2">
                        <label for="textarea">message:</label>
                        <textarea placeholder="write your message here..." id="textarea" name="message" rows="10"></textarea>
                    </div>

                    <div class="col-2">
                        <label></label>
                        <button class="submit">Send message</button>
                    </div>
                </div>
            </div>



        </div>
    </div>
</form>

</body>
</html>
