{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/registration.css">
    <link rel="stylesheet" href="static/css/index.css">

    <title>Document</title>
</head>
<body>
  <nav class="navbar">
    <div class="logo">LOGO</div>
    <ul class="nav-list-container">
        <li class="list"><a href="#home" class="link">Home</a></li>
        <li class="list"><a href="#about-us" class="link">About</a></li>
        <li class="list"><a href="#contact" class="link">Contact</a></li>
        <li class="list"><a href="#contact" class="link">Job</a></li>
        <li class="list"><a href="{% url 'adminlogin' %}" class="link">Admin Login</a></li>
        <li class="list"><a href="{% url 'sign_up' %}" class="link">Login</a></li>
    </ul>
</nav>

    <div class="wrapper">
        <div class="content">
          <h1>Registration Form</h1>
          {% comment %} <p>Connect with us by sending your views.</p> {% endcomment %}
        </div>
   
        <div>
            <form class="form" method="POST" action="sup" enctype="multipart/form-data">
                
      
          <div class="middle-form">
            <div class="inner-form">
              {% csrf_token %}
              <div class="label">Profile image</div>
              <input type="file" name="image" placeholder="Subject">
            </div>

          </div>
          <div class="top-form">
            <div class="inner-form">
              <div class="label">Username</div>
              <input type="text" name="username" placeholder="Jhon" >
            </div>
            <div class="inner-form">
              <div class="label">email</div>
              <input type="text" name="email" placeholder="Example@gmail.com">
            </div>
            <div class="inner-form">
              <div class="label">Job</div>
              <input type="text" name="job" placeholder="Fresher/web Developer">
            </div>
          </div>

          <div class="top-form">
            <div class="inner-form">
              <div class="label">Skill</div>
              <input type="text"  name="skill" placeholder="Java,PHP">
            </div>
            <div class="inner-form">
              <div class="label">Hobbies</div>
              <input type="text" name="hobbies" placeholder="Diving, Reading Book">
            </div>
            <div class="inner-form">
              <div class="label">phone</div>
              <input type="text"  name="phone" placeholder="1234567890">
            </div>
          </div>
      
          <div class="bottom-form">
            <div class="inner-form">
              <div class="label"><Address></Address></div>
              <textarea name="address" placeholder="Enter your Address"></textarea>
            </div>
          </div>

          <div class="middle-form">
            <div class="inner-form">
              <div class="label">Password</div>
              <input type="text" name="password" placeholder="Enter your password">
            </div>
            </div></br>

      <div>
          {% comment %} <button type="submit" class="btn">Sign Up</button> {% endcomment %}
          <button type="submit" class="btn">Sign Up</button>

        </div>
        </div>
      </div>
      
      
      
      <script>
        $(".btn").click(function(){
        $("input[type='text'], textarea").val("");
        });
      </script>
    
</body>
</html>